$bucket-width: 300px;

.kanban-board {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    width: 33%;
    width: -webkit-calc(33% - .11111111rem);
    width: -moz-calc(33% - .11111111rem);
    width: calc(33% - .11111111rem);

    &:hover {
        border-color: var(--dark);
    }
}

.kanban-bucket {
    width: $bucket-width;
}

.kanban-task {
    cursor: pointer;

    &.status-done, &.status-0 {
        background-color: var(--light);
        text-decoration: line-through;

        .kanban-task-done-link {
            display: none !important;
        }
    }

    &:hover {
        .kanban-task-done-link {
            opacity: 1;
        }
    }
}

.kanban-task-checkbox {
    &, label {
        cursor: pointer;
    }

    &:hover {
        label {
            &::before {
                background-color: var(--light);
            }

            text-decoration: underline;
        }
    }
}

.kanban-task-done-link {
    color: inherit;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

    &:hover {
        color: var(--success);
    }
}
